/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

cite {
    font-style:italic;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-size: 14px;
    color: #000;
}

ol,
ul {
    list-style: none;
}

a,
a:active,
a:hover {
    outline: 0 !important;
    text-decoration: none;
    color:#333;
}
a, img a {
    border: 0;
    outline: 0 !important;
}

a:focus {
    outline: 0px;
    text-decoration: none;
    color:#2CC2F2;
}

img {
    height: auto;
    max-width: 100%;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    font-size: 14px;
    color:#777777;
}

h1,h2,h3,h4,h5,h6,p,span {
    word-break: break-word;
}

.no-margin {
    margin:0 !important;
}

.fs-caret {
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -2px;
    vertical-align: middle;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

button:focus {
    outline: none;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/OpenSans-Regular.eot');
    src: url('../fonts/opensans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/opensans/OpenSans-Regular.woff') format('woff'),
        url('../fonts/opensans/OpenSans-Regular.ttf') format('truetype'),
        url('../fonts/opensans/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/OpenSans-SemiBold.eot');
    src: url('../fonts/opensans/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/OpenSans-SemiBold.woff2') format('woff2'),
         url('../fonts/opensans/OpenSans-SemiBold.woff') format('woff'),
         url('../fonts/opensans/OpenSans-SemiBold.ttf') format('truetype'),
         url('../fonts/opensans/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

/* FontAwesome */
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), 
         url('../fonts/fontawesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), 
         url('../fonts/fontawesome/fontawesome-webfont.woff?v=4.7.0') format('woff'), 
         url('../fonts/fontawesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), 
         url('../fonts/fontawesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-user:before {
    content: "\F007";
}

.fa-map-marker:before {
    content: "\F041";
}

.fa-envelope:before {
    content: "\F0E0";
}

.fa-phone:before {
    content: "\F095";
}

.fa-fax:before {
    content: "\F1AC";
}

.fa-search:before {
    content: "\f002";
}

.fa-times:before {
    content: "\f00d";
}

.fa-file-text-o:before {
    content: "\F0F6";
}

.fa-plus:before {
    content: "\f067";
}

.fa-minus:before {
    content: "\f068";
}

.fa-caret-down:before {
    content: "\f0d7";
}

.fa-filter:before {
    content: "\f0b0";
}

.fa-trash:before {
    content: "\f1f8";
}

.fa-heart:before {
    content: "\f004";
}

.fa-plus:before {
    content: "\f067";
}

.fa-play-circle:before {
    content: "\f144";
}

.fa-eye:before {
    content: "\f06e";
}

.fa-eye-slash:before {
    content: "\f070";
}

.fa-camera:before {
    content: "\f030";
}

.fa-check-circle-o:before {
    content: "\f05d";
}

.fa-check:before {
    content: "\f00c";
}

.fa-pencil:before {
    content: "\f040";
}

* {
    word-wrap: break-word;
}

.op-semibold {
    font-weight: 600;
}

/* alert */
.alert {
    position: fixed !important;
    top: 7px !important;
    right: 7px !important;
    z-index: 9999 !important;
    left: initial !important;
    width: 300px !important;
}
.alert h4 {
    margin: 0 0 12px 0;
    color: #2c2c2c;
    font-size: 16px;
}

.alert .close {
    margin: -3px 0 0 0;
}

/* reset form */
button {
    background: transparent;
    border:0;
}

select{ 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=number] {
    -moz-appearance:textfield;
}

/* input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-moz-inner-spin-button, 
input[type=number]::-moz-outer-spin-button,
input[type=number] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
} */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
    color: #c8c8c8 !important;
}

textarea::-moz-placeholder,     
input:-moz-placeholder { /* Firefox 18- */
    color: #c8c8c8 !important;  
}
textarea::-moz-placeholder,
input::-moz-placeholder {  /* Firefox 19+ */
    color: #c8c8c8 !important;  
}

textarea:-ms-input-placeholder,
input:-ms-input-placeholder {  
    color: #c8c8c8 !important;  
}

/* radio and checkbox btn */

.custom-control {
    margin-bottom: 0;
    min-height: 22px;
    text-transform: capitalize;
}

.custom-control {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-left: 28px;
    margin-right: 0;
}

.custom-control, 
.input-group, 
.input-group-btn, 
.input-group-btn > .btn {
    position: relative;
}

.custom-control-input {
    position: absolute;
    left: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
    width: 22px;
    height:22px;
}

.custom-checkbox .custom-control-input:checkedv~ .custom-control-indicator,
.custom-radio .custom-control-input:checkedv~ .custom-control-indicator {
    background-image: none;
}

.custom-control-input:checked ~ .custom-control-indicator,
.custom-control-input:checked ~ label .custom-control-indicator {
    border-color: #e00016;
}

.custom-control-input:active ~ .custom-control-indicator, 
.custom-control-input:checked ~ .custom-control-indicator,
.custom-control-input:checked ~ label .custom-control-indicator {
    color: #e4001b;
    background-color: transparent;
}

.custom-checkbox .custom-control-indicator {
    border-radius: 5px;
}

.custom-radio .custom-control-indicator {
    border-radius: 50%;
}

.custom-radio label img {
    vertical-align: top;
    margin: 0 4px 0 0;
}

.custom-control-indicator {
    border: 1px solid #e4001b;
    color: #fff;
    top: 0;
    transition: border .2s;
    cursor: pointer;
}

.custom-control-indicator {
    position: absolute;
    left: 0;
    display: block;
    width: 1.308rem;
    height: 1.308rem;
    pointer-events: none;
    user-select: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox .custom-control-indicator:before,
.custom-radio .custom-control-indicator:before,
.custom-radio label .custom-control-indicator:before {
    content: '';
    position: absolute;
    left: 3px;
    top: 3px;
    width: 13px;
    height: 13px;
    background-color: #e4001b;
    z-index: 1;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s,-webkit-transform .2s;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator:before,
.custom-radio .custom-control-input:checked ~ .custom-control-indicator:before,
.custom-radio .custom-control-input:checked ~ label .custom-control-indicator:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.custom-checkbox .custom-control-indicator:before {
    border-radius: 3px;
}
.custom-radio .custom-control-indicator:before {
    border-radius: 50%;
}

[role=button], a, area, button, input, label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

/* Toggle on off switch */
.toggle-switch {
    display: inline-block;
    margin: 6px 0 0 0;
}
.toggle-switch .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 25px;
}

.toggle-switch .switch:before,
.toggle-switch .switch:after {
    position: absolute;
    top:3px;
    z-index: 1;
    color:#fff;
}

.toggle-switch .switch:before{
    left:6px;
    content:'\2714';
}

.toggle-switch .switch:after {
    right:6px;
    content:'\2716';
}
  
.toggle-switch .switch input {display:none;}
  
.toggle-switch .switch .slider-switch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.toggle-switch .switch .slider-switch:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    z-index: 2;
}
  
.toggle-switch .switch input:checked + .slider-switch {
    background-color: #e00016;
}
  
.toggle-switch .switch input:focus + .slider-switch {
    box-shadow: 0 0 1px #e00016;
}
  
.toggle-switch .switch input:checked + .slider-switch:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}