.request-quotation-btn-wrapper {
    margin: 20px 0px;
    width: 100vw;
    text-align: center !important;
}

.disabled-level {
    pointer-events: none !important;
    background-color: #eaeaea !important;
    box-shadow: 0 0 0 !important;
}


.sticky-table {
    max-width: 100%;
    max-height: 50vh;
    overflow: auto;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 0 !important;
    transition: width 2s;
}

.sticky-table, .sticky-table * {
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
}

.sticky-table table {
    margin-bottom: 0;
    width: 100%;
    max-width: 100%;
    border-spacing: 0;
    padding: 0 !important;
    border-collapse: collapse;
}

.sticky-table table tr.sticky-header th, .sticky-table table tr.sticky-header td,
.sticky-table table tr.sticky-footer th, .sticky-table table tr.sticky-footer td {
/*    background-color: #fff;*/
    border-top: 0;
    position: relative;
    position: -webkit-sticky;
    position: -ms-sticky;
    position: sticky;
/*    outline: 1px solid #ddd;*/
    z-index: 5;
}
.sticky-table table tr.sticky-header th, .sticky-table table tr.sticky-header td {
    top: 0;
}
.sticky-table table tr.sticky-footer th, .sticky-table table tr.sticky-footer td {
    bottom: 0;
}

.sticky-table table td.sticky-cell, .sticky-table table th.sticky-cell,
.sticky-table table td.sticky-cell-opposite, .sticky-table table th.sticky-cell-opposite {
    background-color: #fff;
    outline: 1px solid #ddd;
    position: relative;
    position: -webkit-sticky;
    position: -ms-sticky;
    position: sticky;
    z-index: 10;
}
.sticky-table.sticky-ltr-cells table td.sticky-cell, .sticky-table.sticky-ltr-cells table th.sticky-cell,
.sticky-table.sticky-rtl-cells table td.sticky-cell-opposite, .sticky-table.sticky-rtl-cells table th.sticky-cell-opposite {
    left: 0
}
.sticky-table.sticky-rtl-cells table td.sticky-cell, .sticky-table.sticky-rtl-cells table th.sticky-cell,
.sticky-table.sticky-ltr-cells table td.sticky-cell-opposite, .sticky-table.sticky-ltr-cells table th.sticky-cell-opposite {
    right: 0
}

.sticky-table table tr.sticky-header td.sticky-cell, .sticky-table table tr.sticky-header th.sticky-cell,
.sticky-table table tr.sticky-header td.sticky-cell-opposite, .sticky-table table tr.sticky-header th.sticky-cell-opposite,
.sticky-table table tr.sticky-footer td.sticky-cell, .sticky-table table tr.sticky-footer th.sticky-cell,
.sticky-table table tr.sticky-footer td.sticky-cell-opposite, .sticky-table table tr.sticky-footer th.sticky-cell-opposite {
    z-index: 15;
}

.action a{
    padding: 0 5px;
}

.table-header, .table-data {
    width: 33.3%;
}

.level-done-check {
    font-size: 30px;
    color: #e03014;
}

.list-info {
    padding-right: 12px;
    padding-bottom: 7px;
}
.white-card-wrapper {
    display: flex;
    background: #fff;
    box-shadow: 0 0 6px #ccc;
    padding: 23px 28px;
    border-radius: 5px;
    margin: 0 0 20px 0;
}

.col-left {
    width: 50%;
    padding: 0 10px;
}

.col-right {
    width: 50%;
    padding: 0 10px;
}

.level-heading {
    font-size: 22px;
    font-weight: 600;
    margin: 0 11px 0 0;
    display: inline-block;
    max-width: 250px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    color:black;
}

.level-count {
    font-size: 14px;
    color: #e4001b;
    font-weight: 600;
}

.action-btn-wrapper ul li {
    display: inline-block;
    margin: 0 10px;
}
.action-btn-wrapper ul li.level-done-li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: -6px;
}


.action-btn-wrapper .level-btn {
    width: 124px;
    border: 1px solid #e4001b;
    border-radius: 4px;
    padding: 5px 0;
    background: #e4001b;
    color: #fff;
    text-transform: uppercase;
}

.action-btn-wrapper .level-btn:hover {
    background: #b7061b;
    box-shadow: 0px 3px 6px #0000001f;
}

.white-card-wrapper {
display: flex;
background: #fff;
box-shadow: 0 0 6px #ccc;
padding: 23px 28px;
border-radius: 5px;
margin: 0 0 20px 0;
}

.col-left {
width: 50%;
padding: 0 10px;
}

.col-right {
width: 50%;
padding: 0 10px;
}

.level-heading {
font-size: 22px;
font-weight: 600;
margin: 0 11px 0 0;
display: inline-block;
max-width: 250px;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
vertical-align: middle;
}

.level-count {
font-size: 14px;
color: #e4001b;
font-weight: 600;
}

.action-btn-wrapper ul li {
display: inline-block;
margin: 0 10px;
}


.action-btn-wrapper .level-btn {
width: 124px;
border: 1px solid #e4001b;
border-radius: 4px;
padding: 5px 0;
background: #e4001b;
color: #fff;
text-transform: uppercase;
}

.action-btn-wrapper .level-btn:hover {
background: #b7061b;
box-shadow: 0px 3px 6px #0000001f;
}
