#maps-places {
    width: 100%;
    margin: 0 auto;
}

#maps-box {
    width: inherit;
    height: 400px;
    margin: 27px auto;
}

.pac-container{
    z-index: 9999;
}

#address-map-icon {
    position: absolute !important;
    bottom: 13px !important;
    right: 11px !important;
}
