.contact-number {
    display: inline-block !important;
    width: 20% !important;
}

.contact-number-input {
    display: inline-block;
    width: 78% !important;
    margin-left: 0.88%;
}

.country {
    width: 100% !important;
}

.select-user-types {
    width: 100% !important;
}

.custom-select-style {
    height: 45px;
    margin-bottom: 4px;
}

.company-name-select {
    width: 100% !important;
}

.concealable{
    display:none;
}

.signup-camera-holder {
    position: absolute;
    top: 11px;
    left: 10px;
    color: white;
}

.signup-upload-circle {
    bottom: 4px !important;
    right: 4px !important;
}
